*,body{
    margin: 0;
    padding: 0;
    border: 0;
}
.header-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 65vh;
}

.header {
    min-height: 65vh;
    color: white;
    overflow: hidden;
    background-size: cover; 
    min-width: 100%;
    transition: translate 300ms ease-in-out;
    position: relative;
}

.navbar-container {
    overflow: hidden;
    color: white;
    position: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.absolute{
    position: absolute;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    filter: brightness(80%);
  }

@media (max-width: 432px){
    .header-wrapper{
        min-height: 50vh;
    }
}