@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family:
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: #121212;
  color: white;
}

a{
  margin: 0;
  padding: 0;
}


a{
  color: inherit;
  text-decoration: none;
}
