.hero-sec{
    height: 45vh;
    display: flex;
    align-items: flex-end; 
}
.header{
    height: 55vh;
    color: white;
    background-size: cover;
    background-position: center;
    
}
.hero-text{
    line-height: 1.1;
    width: 60%;
    padding-left: 4vw;
}

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(24px, 3vw, 60px);
    margin: 0;
}

h2{
   font-size: clamp(14px, 1.5vw, 32px);
   font-weight: 400;
}

h3{
    padding-left: 40px;
}
