.hero-sec{
    background-image: url("../assets/poco.jpg");
    background-size: cover;
    background-position: center;
    height: 45vh;
    display: flex;
    align-items: flex-end;
    
}

.hero-text{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    padding-left: 3vw;
    font-weight: 900;
    line-height: 1.1;
    width: 60%;
}

h1{
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
}

h2{
   font-size: 1rem;  
}
