.hero-sec{
    background-image: url("../assets/poco.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    
}

.hero-text{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    padding-left: 3vw;
    width: 60%;
}

h1{
    font-size: clamp(14px, 3vw, 32px);
    font-weight: 900;
}

h2{
    font-size: clamp(12px, 2vw, 26px);
    font-weight: 900;
}