.main{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    padding-left: 2vw;
}
.content{
    display: grid;
    width: 72%;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.item{
    background-color: grey;
    height: 40vh;
}

.sidebar{
    width: 20%;
    background-color: brown;
}

img{
    width: 50%;
    height: 50%;
}

.itemwrap1{
    display: flex;
    justify-content: space-around;
}

.itemwrap2{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}