.listStyle {
    list-style: none;
    padding: 0;
  }
  
  .listItemStyle {
    margin: 0 0 1rem;
  }
  
  
  .listItemStyle a:link {
    color: blue;
    text-decoration: none;
  }
  
  .listItemStyle::before {
    content: '🚀';
    color: #adadad;
  }