.hero-sec{
    height: 45vh;
    display: flex;
    align-items: flex-end; 
}
.header{
    height: 55vh;
    color: white;
    background-size: cover;
    
}
.hero-text{
    line-height: 1.1;
    width: 70%;
    padding-left: 4vw;
    padding-bottom: 20px;
}

.hero-text h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: clamp(22px, 2.5vw, 50px);
    margin: 0;
}

.hero-text h2{
   font-size: clamp(14px, 1.5vw, 32px);
   font-weight: 400;
}


@media (max-width: 320px){
    .hero-text h1{
        font-size: 15px;
    } 
}
