.hero-text{
    position: absolute;
    bottom: 0;
    width: 55%;
    padding-left: 4vw;
    padding-bottom: 20px;
}

.hero-text h1{
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-size: 2.7rem;
    margin-bottom: 0;
    line-height: 1.1;
}

.hero-text h2{
   font-size: clamp(14px, 1.5vw, 32px);
   font-weight: 400;
   margin-top: 0;
   font-size: 1.4rem;
}

@media (max-width: 1080px){
    .hero-text{
        width: 70%;
    }
}
@media (max-width: 600px){
    .hero-text h1{
        font-size: 2rem;
    } 
    .hero-text h2{
        font-size: 1rem;
    }
    .hero-text{
        width: 90%;
    }
    .header{
        min-height: 50vh;
        color: white;
        background-size: cover;  
    }
}
