*,body{
    margin: 0;
    padding: 0;
    border: 0;
}
.header-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 65vh;
}

.header {
    min-width: 100%;
    transition: translate 300ms ease-in-out;
}

.navbar-container {
    color: white;
    position: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.absolute{
    position: absolute;
}

@media (max-width: 432px){
    .header-wrapper{
        min-height: 50vh;
    }
}