.navbar{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.114);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    z-index: 1;
    width: 88%;
    color: white;
}
.nav-logo{
    font-size: 2em;
    font-family: Inter;
    font-weight: 900;
}
.nav-link{
    height: 100%;
}
.nav-link ul {
    display: flex;
    gap: 6rem;
}
.nav-link li{
    list-style: none;
}
.nav-link li:hover {
    background-color: #555;
}
.support-btn{
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 3px 5px;
    color: #fff;
    border-radius: 1px;
    border: 1px solid #ff0000;
    transition: all .3s ease;
    background: #ff0000;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 0.8em;
}

.support-btn:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: black;
}
.hamburger{
    display: none;
    font-size: 1.5rem
}
.hamburger:hover{
    cursor:pointer ;
}
@media (max-width:600px){
    .nav-bar{
        padding: 0 2vw;
    }
    .nav-logo{
        font-size: 1.6rem;
    }
}
@media (max-width:1080px){
    .hamburger{
        display: block;
    }
    .navbar {
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        color: black;
    }
    .nav-link {
        width: 100%;
        display: none;
    }

    .nav-link ul {
        width: 100%;
        gap: 2px;
        flex-direction: column;
    }
    .nav-link.responsive-nav {
        display: flex;
    }
}
